<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.morfi.gamesearch"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.morfi.gamesearch.ItemListActivity"
            android:label="@string/search_result"
            android:parentActivityName="com.morfi.gamesearch.ItemListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.morfi.gamesearch.ItemListActivity" />

        <activity
            android:name="com.morfi.gamesearch.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName="com.morfi.gamesearch.ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ItemListActivity" />
        </activity>
        <activity
            android:name="com.morfi.gamesearch.SearchActivity"
            android:label="@string/title_activity_search" />
        <activity
            android:name="com.morfi.gamesearch.MainActivity"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.morfi.gamesearch.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="com.morfi.gamesearch.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.morfi.gamesearch.AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName="com.morfi.gamesearch.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.morfi.gamesearch.ItemEditActivity"
            android:label="@string/title_activity_item_edit"></activity>
        <activity
            android:name="com.morfi.gamesearch.NewProductActivity"
            android:label="@string/title_activity_new_product"></activity>
    </application>

</manifest>
